@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
  font-family: 'Eczar', serif;
  /* font-family: 'Shadows Into Light', cursive; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
* {
  /* font-family: "Verdana", cursive, sans-serif; */
  /* color: #ffffff; */
}

body {
  /* background-image: url("./Image/stdasms.jpg"); */
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  background-repeat:no-repeat;
  /* background-position: center; */
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
h1,h3,h4{
  color: black;
}
.App{
  border: 2px solid black;
  margin-top: 2vh;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.03);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.5px);
-webkit-backdrop-filter: blur(0.5px);
border: 1px solid rgba(255, 255, 255, 0.2);
}
label{
  margin-bottom: 2hv ;
}
.Form{
  margin-top: 5vh;
  display: inline-block;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa.fa-github {
  margin-left: 10px;
  font-size: smaller;
}

button {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 100%;
  font-size: 15px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 25px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
}
input{
  margin-bottom: 2vh;
}



